.email {
    width: 100%;
    color: white;
}

.mail {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: white;
}

#map {
    width: 620px;
    height: 320px;
}

.vh {
    color: white;
}

.ch {
    color: grey;
}

.gradient_button {
    font-size: 10px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-image: -webkit-gradient(linear, left, right, from(#9b470b), to(#da8d5a));
    background-image: -webkit-gradient(linear, left, right, from(#9b470b), to(#da8d5a));
    background-image: linear-gradient(to right, #9b470b, #da8d5a);
}


/* animation on uses */

body {
    text-align: center;
    background: #48cfad;
    color: #fff;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dotted #fff;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    text-decoration: none;
}

.block {
    width: 31.33%;
    margin: 1%;
    float: left;
}

a:hover {
    border-bottom: 1px solid;
}

h3 {
    margin-top: 850px;
}

.marged {
    margin-top: 100px;
}

// Reveal on scroll
.revealOnScroll {
    opacity: 0;
}

.image {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
    background-color: #48cfad;
    opacity: 0.8;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    background-image: url('http://lorempixel.com/400/200/');
    -webkit-background-size: cover;
    background-size: cover;
}